@using GameOfLife.Assets
@model Website.Models.GameOfLifeModel

@{
    ViewBag.Title = "Game of life";
}

<table>
    @foreach (var row in Model.Grid)
    {
        <tr>
            @foreach (var column in row)
            {
                <td style="background: @(column == CellType.Dead ? "red" : "green")">@column</td>
            }
        </tr>
    }
</table>
<input type="button" value="Next generation" class="nextGen" />

<script>
    $('.nextGen').on('click', function(){
        $.ajax({
            type: 'POST',
            url: '/gameoflife/nextgeneration',
            data: JSON.stringify({ grid: "@Model.Grid", game: "@Model.Game" }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(msg) {
                alert(msg.d);
            }
        });
    });
</script>
<!-- TODO:
- Do javascript stuff here to automatically update table grid.
- Make inputs to decide grid size and starting point of dead/live cells.
- Make a start/stop button.
- Move everything to javascript, strip controller of any logic.
-->