@model Website.Models.SudokuSolverModel

<form action="/SudokuSolver/SolveSudoku" method="post">
    @for (var i = 0; i < Model.Board.Length; i++)
    {
        if (i % 9 == 0)
        {
            <br/>
        }
        @Html.TextBoxFor(m => m.Board[i], new
        {
            @Value = char.IsDigit(Model.Board[i]) ? Model.Board[i] : '.', 
            @Style = "width: 40px; height: 40px; text-align: center;", 
            @Type = "number", 
            @Min = "1", 
            @Max = "9",
            @Step = "1", 
            @OnKeyPress = "return event.charCode >= 49 && event.charCode <= 57"
        })
        
    }
    <br/>
    @Html.DisplayFor(e => e.ErrorMessage)
    <br/>
    <input type="submit" value="Try solve"/>
</form>

<form action="/SudokuSolver/Index" method="post">
    <input type="submit" value="Reset"/>
</form>
