@model string

<div>
    <form method="POST" action="RomanNumeralConverter/Convert">
        <input type="text" name="romanNumeral" placeholder="Enter number or roman numeral" />
        <input type="submit" value="Convert"/>
        
        @Html.DisplayForModel()
    </form>
</div>